@media print {
  .toolbar {
    display: none;
  }
  .header {
    display: none;
  }
  .tiptap-container {
    padding: 0 !important;
    width: 100% !important;
    margin: 0 !important;
  }
  .tiptap {
    padding: 0 !important;
    width: 100% !important ;
  }
}
